.App {
  text-align: center;
}

.map-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: royalblue;
  font-family: monospace;
}

.map-title {
  font-size: 1.9em;
}

.map-intro {
  font-size: large;
}

.map-img{
height: 16vh;
}

.map-comp{
  height: 90vh;
}


.map {
  width: 100%;
  height: 400px;
  position: relative;
}


@keyframes map-img-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
